{% extends 'admin.html' %}



{% block admin %}

<div class="cart-ew">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="p-5">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{% if obj %}Editar {% else %} Nuevo {% endif %} departamento</div>
                        <div class="dropdown-divider"></div>
                        {{ form.as_p }}
                      </div>
                      <button type="submit" class="btn btn-success">
                        {% if obj %}
                        Editar 
                        {% else %}
                        Crear
                        {% endif %}
                        departamento
                        </button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </form>
</div>
{% endblock  %}